.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #0f2a2e;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.bottom-nav a.active {
  color: #00e5ff;
  font-weight: bold;
}